* {
	box-sizing: border-box;
	background-color: #f6f6f6;
}

.hide-display {
	display: none;
}

h2 {
	font-family: 'Neucha', cursive;
	justify-content: center;
	font-size: 3rem;
	color: #45a29e;
}

body {
	padding: 10px;
	font-family: 'Shadows Into Light Two', cursive;
	font-size: 16px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	justify-items: center;
}

header,
section {
	width: 100%;
	margin: 0 auto;
}

header h2 {
	background-color: rgba(174, 208, 239, 0.5);
	text-align: center;
	font-family: 'Neucha', cursive;
}

header {
	font-size: 2.8rem;
	font-family: 'Neucha', cursive;
	padding: 20px;
}

img {
	max-width: 100%;
	height: auto;
	padding: 20px;
}

h1 {
	flex: 0 0 auto;
}

.quiz-questions h1 {
	font-size: 1.3em;
	font-family: 'Neucha', cursive;
}

.feedback-page h1 {
	font-size: 2.8em;
}

.start-page {
	text-align: center;
}

.start-page,
.quiz-questions,
.feedback-page {
	background: rgba(255, 255, 255, 0.8);
	padding: 15px;
}

fieldset {
	border: 0px;
}

button {
        display:inline-block;
        padding:0.35em 1.2em;
        border:0.1em solid #FFFFFF;
        margin:0 0.3em 0.3em 0;
        border-radius:0.12em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:#FFFFFF;
        text-align:center;
        transition: all 0.2s;
}
            
.button:hover {
        color:#000000;
        background-color:#FFFFFF;
}
            

.button:active {
	position: relative;
	top: 1px;
}

.quiz-nav p {
	display: inline-block;
	margin-top: 25px;
	margin-right: 10px;
}

#quiz-questions p {
	display: inline-block;
	margin: 10px;
	padding: 5px;
	border: 1px black solid;
}

#quiz-questions .correct-answer {
	background: rgba(91, 140, 59, 0.3);
	border: rgba(91, 140, 59, 0.3) solid 1px;
	border-radius: 10px;
}

label {
	padding: 5px;
}

p .final-score {
	padding: 50px;
	margin-bottom: 10px;
}

.correct-answer {
	background: rgba(91, 140, 59, 0.3);
	border: rgba(91, 140, 59, 0.3) solid 1px;
	border-radius: 5px;
}

.wrong-answer {
	background: rgba(147, 42, 42, 0.3);
	border: rgba(147, 42, 42, 0.3) solid 1px;
	border-radius: 10px;
}

@media only screen and (min-width: 640px) {
	header,
	section {
		width: 50%;
		margin: 0 auto;
	}
}
